<!-- ================== Maps ================== -->
<div class="not-extended">
    <div id="map-contact"></div>
</div>
<!-- ================== End of Maps ================== -->
<!-- ================== Contacto ================== -->
<div id="contact-section" class="row not-extended">
    <div id="info-contact" class="span-12 span-large-5">
        <h2>CONTACTO</h2>
        <p class="address">
            Calle Azalea 1750<br>
            Col. Mariano Otero<br>
            C.P. 45067 Zapopan, Jalisco, MX<br>
        </p>
        <p class="phones">
            +52 (33) 1984 5482<br>
            +52 (33) 1984 5483<br>
        </p>
    </div>
    <div id="form-contact" class="formplate span-12 span-large-7">
        <input type="text" id="txt-nombre" placeholder="NOMBRE COMPLETO">
        <input type="email" id="txt-email" placeholder="E-MAIL">
        <input type="text" id="txt-texto" placeholder="TEXTO">
    </div>
</div>
<!-- ================== End of Contacto ================== -->