<div class="not-extended main-image main-image-dss">
	<h1>DSS</h1>
</div>

<div id="especialidad" class="not-extended back-gray">
	<h2>NOS ESPECIALIZAMOS EN DARTE LO MEJOR</h2>
	<div class="row">
		<div class="span-12 span-large-1 icon"><img src="project/img/engrane.png"></div>
		<div class="span-12 span-large-5 div-left">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, eget ultricies justo congue sed. Nunc non eleifend ligula.
		</div>

		<div class="span-12 span-large-1 icon"><img src="project/img/engrane.png"></div>
		<div class="span-12 span-large-5 div-right">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, eget ultricies justo congue sed. Nunc non eleifend ligula.
		</div>
	</div>
	<div class="row">
		<div class="span-12 span-large-1 icon"><img src="project/img/engrane.png"></div>
		<div class="span-12 span-large-5 div-left">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, eget ultricies justo congue sed. Nunc non eleifend ligula.
		</div>

		<div class="span-12 span-large-1 icon"><img src="project/img/engrane.png"></div>
		<div class="span-12 span-large-5 div-right">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, eget ultricies justo congue sed. Nunc non eleifend ligula.
		</div>
	</div>
</div>

<div id="metrics" class="row not-extended">
	<div class="span-6 span-large-3"><h1>30</h1><br>MIL<br>VARILLAS</div>
	<div class="span-6 span-large-3"><h1>111</h1><br>KM DE<br>CABLE</div>
	<div class="span-6 span-large-3"><h1>30</h1><br>TONELADAS<br>DE ACERO</div>
	<div class="span-6 span-large-3"><h1>12</h1><br>PROYECTOS<br></div>
</div>

<div id="lo-nuestro" class="row not-extended">
	<h3>PORQUE LO NUESTRO ES AYUDARTE</h3>
	<div class="span-12 span-large-4">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
        eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
        vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
        consectetur quam non aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, eget ultricies justo congue sed. Nunc non eleifend ligula.</p>
	</div>

	<div class="span-12 span-large-4">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
	        eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
	        vehicula.
	        <ul>
	        	<li>Maecenas ipsum ipsum, feugiat sit.</li>
	        	<li>Ut vulputate consectetur quam.</li>
	        	<li>Maecenas ipsum ipsum, feugiat sit.</li>
	        </ul>
    	</p>
	</div>

	<div class="span-12 span-large-4">
		<img src="project/img/ayudarte.png">
	</div>
</div>