<div class="not-extended main-image main-image-dss">
	<h1>DSS</h1>
</div>
<!-- ================== Lo nuestro ================== -->
<div id="lo-nuestro" class="row not-extended">
	<h3>PORQUE LO NUESTRO ES AYUDARTE</h3>
	<div class="span-12 span-large-4">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
        eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
        vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
        consectetur quam non aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, eget ultricies justo congue sed. Nunc non eleifend ligula.</p>
	</div>

	<div class="span-12 span-large-4">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
	        eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
	        vehicula.
	        <ul>
	        	<li>Maecenas ipsum ipsum, feugiat sit.</li>
	        	<li>Ut vulputate consectetur quam.</li>
	        	<li>Maecenas ipsum ipsum, feugiat sit.</li>
	        </ul>
    	</p>
	</div>

	<div class="span-12 span-large-4">
		<img src="project/img/ayudarte.png">
	</div>
</div>
<!-- ================== End of lo nuestro ================== -->
<!-- ================== Servicios ================== -->
<div id="servicios" class="not-extended">
    <div class="row">
        <h2>NUESTROS SERVICIOS SON</h2>
        <div class="span-12 span-large-3 col">
            <img src="project/img/engrane.png"><br>
            <h3>Ingeniería y cálculo estructural para cualquier tipo de estructura metálica</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
            eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
            vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
            consectetur quam non aliquam.
        </div>
        <div class="span-12 span-large-3 col">
            <img src="project/img/herramienta.png"><br>
            <h3>Suministro de estructura metálica</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
            eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
            vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
            consectetur quam non aliquam.
        </div>
        <div class="span-12 span-large-3 col">
            <img src="project/img/conexion.png"><br>
            <h3>Habilitado de estructura metálica, todos los tipos de cortes</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
            eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
            vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
            consectetur quam non aliquam.
        </div>
        <div class="span-12 span-large-3 col">
            <img src="project/img/conexion.png"><br>
            <h3>Rolado de tubo</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
            eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
            vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
            consectetur quam non aliquam.
        </div>
    </div>
    <div class="row three-col">
        <div class="span-12 span-large-4 col2">
            <img src="project/img/engrane.png"><br>
            <h3>Armado de estructuras</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
            eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
            vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
            consectetur quam non aliquam.
        </div>
        <div class="span-12 span-large-4 col2">
            <img src="project/img/herramienta.png"><br>
            <h3>Montaje de estructuras</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
            eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
            vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
            consectetur quam non aliquam.
        </div>
        <div class="span-12 span-large-4 col2">
            <img src="project/img/conexion.png"><br>
            <h3>Protección anticorrosiva y antifuego</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
            eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
            vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
            consectetur quam non aliquam.
        </div>
    </div>
</div>
<!-- ================== End of Servicios ================== -->
<!-- ================== Metrics ================== -->
<div id="metrics" class="row not-extended">
	<div class="span-6 span-large-3"><h1>30</h1><br>MIL<br>VARILLAS</div>
	<div class="span-6 span-large-3"><h1>111</h1><br>KM DE<br>CABLE</div>
	<div class="span-6 span-large-3"><h1>30</h1><br>TONELADAS<br>DE ACERO</div>
	<div class="span-6 span-large-3"><h1>12</h1><br>PROYECTOS<br></div>
</div>
<!-- ================== End of Metrics ================== -->