<!-- ================== Main Banner ================== -->
<div id="mainbanner" class="flickerplate not-extended" data-block-text="false">
    <ul>
        <li class="first-slide" data-background="project/img/mainbanner/0.png" style="background-position-y:55%">
            <div class="flick-title">ESTRUCTURAS<br><p>DINÁMICAS</p></div>
            <div class="flick-sub-text many-text">
                Edificios | Plantas Industriales | Centros Comerciales <br>
                Infraestructura Urbana | Recintos Feriales, de Eventos <br>
                y Convenciones | Estructuras no Convencionales<br><br>
                <a href="#projects">conoce más</a>
            </div>
        </li>
        <li data-background="project/img/mainbanner/1.png">
            <div class="flick-title">ESTRUCTURAS</div>
            <div class="flick-sub-text">DINÁMICAS</div>
        </li>
        <li data-background="project/img/mainbanner/2.png">
            <div class="flick-title">ESTRUCTURAS</div>
            <div class="flick-sub-text">METÁLICAS</div>
        </li>
        <li data-background="project/img/mainbanner/3.png">
            <div class="flick-title">ESTRUCTURAS</div>
            <div class="flick-sub-text" style="font-size: 6.1vw;">NO CONVENCIONALES</div>
        </li>
    </ul>
</div>
<!-- ================== End of Main Banner ================== -->
<!-- ================== Somos DSS ================== -->
<div id="somosdss" class="row not-extended">
    <div class="span-12 span-large-12">
        <h2>SOMOS DSS</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
            eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
            vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
            consectetur quam non aliquam. Curabitur auctor leo in mauris venenatis efficitur. Nulla ornare 
            maximus eros congue posuere. Integer in vulputate tortor. Donec in efficitur leo. 
        </p>
    </div>
</div>
<!-- ================== End of Somos DSS ================== -->
