<!-- ================== Main Banner ================== -->
<div id="mainbanner" class="flickerplate not-extended" data-block-text="fasle">
    <ul>
        <li data-background="project/img/mainbanner/1.png">
            <div class="flick-title">ESTRUCTURAS</div>
            <div class="flick-sub-text">DINÁMICAS</div>
        </li>
        <li data-background="project/img/mainbanner/2.png">
            <div class="flick-title">ESTRUCTURAS</div>
            <div class="flick-sub-text">DINÁMICAS</div>
        </li>
        <li data-background="project/img/mainbanner/3.png">
            <div class="flick-title">ESTRUCTURAS</div>
            <div class="flick-sub-text">DINÁMICAS</div>
        </li>
    </ul>
</div>
<!-- ================== End of Main Banner ================== -->
<!-- ================== Somos DSS ================== -->
<div id="somosdss" class="row not-extended">
    <div class="span-12 span-large-12">
        <h2>SOMOS DSS</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
            eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
            vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
            consectetur quam non aliquam. Curabitur auctor leo in mauris venenatis efficitur. Nulla ornare 
            maximus eros congue posuere. Integer in vulputate tortor. Donec in efficitur leo. 
        </p>
    </div>
</div>
<!-- ================== End of Somos DSS ================== -->
<!-- ================== Servicios ================== -->
<div id="servicios" class="row not-extended">
    <h2>NUESTROS SERVICIOS SON</h2>
    <div class="span-12 span-large-4">
        <img src="project/img/engrane.png"><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
        eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
        vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
        consectetur quam non aliquam.
    </div>
    <div class="span-12 span-large-4">
        <img src="project/img/herramienta.png"><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
        eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
        vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
        consectetur quam non aliquam.
    </div>
    <div class="span-12 span-large-4">
        <img src="project/img/conexion.png"><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
        eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
        vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
        consectetur quam non aliquam.
    </div>
</div>
<!-- ================== End of Servicios ================== -->
<!-- ================== Clientes ================== -->
<div id="clientes" class="row not-extended">
    <div class="span-12 span-large-12"><h2>ES UN PLACER HABER TRABAJADO CON USTEDES</h2></div>
    <div class="client-logo span-6 span-large-3">LOGO</div>
    <div class="client-logo1 span-6 span-large-3">LOGO</div>
    <div class="client-logo span-6 span-large-3">LOGO</div>
    <div class="client-logo1 span-6 span-large-3">LOGO</div>

    <div class="client-logo1 span-6 span-large-3">LOGO</div>
    <div class="client-logo span-6 span-large-3">LOGO</div>
    <div class="client-logo1 span-6 span-large-3">LOGO</div>
    <div class="client-logo span-6 span-large-3">LOGO</div>
</div>
<!-- ================== End of Clientes ================== -->
<!-- ================== Portafolio ================== -->
<div id="portfolio" class="flickerplate not-extended" data-block-text="fasle">
    <h3>PORTAFOLIO</h3>
    <ul>
        <li>
            <div id="proj1" class="firstp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="#"></a></div>
                <div class="label">
                    Canchas de recreación deportiva / DURANGO
                </div>
            </div>
            <div id="proj2" class="secondp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="#"></a></div>
                <div class="label">
                    Estadio Cuahutemoc / PUEBLA
                </div>
            </div>
        </li>
        <li>
            <div id="proj3" class="firstp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="#"></a></div>
                <div class="label">
                    Canchas de recreación deportiva / DURANGO
                </div>
            </div>
            <div id="proj4" class="secondp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="#"></a></div>
                <div class="label">
                    Estadio Cuahutemoc / PUEBLA
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- ================== End of Portafolio ================== -->
<!-- ================== Video ================== -->
<div id="video-container" class="row not-extended ">
    <video width="100%" height="auto" controls>
        <source src="#" type="video/mp4">
        <source src="#" type="video/webm">
        Your browser does not support the video tag.
    </video>
</div>
<!-- ================== End of Video ================== -->
<!-- ================== Maps ================== -->
<div class="not-extended">
    <div id="googleMap"></div>
</div>
<!-- ================== End of Maps ================== -->
<!-- ================== Contacto ================== -->
<div id="contacto" class="row not-extended">
    <div id="contact-info" class="span-12 span-large-5">
        <h2>CONTACTO</h2>
        <p id="address">
            Calle Azalea 1750<br>
            Col. Mariano Otero<br>
            C.P. 45067 Zapopan, Jalisco, MX<br>
        </p>
        <p id="phones">
            +52 (33) 1984 5482<br>
            +52 (33) 1984 5483<br>
        </p>
    </div>
    <div id="contact-form" class="formplate span-12 span-large-7">
        <input type="text" id="text-nombre" placeholder="NOMBRE COMPLETO">
        <input type="email" id="text-email" placeholder="E-MAIL">
        <input type="text" id="text-texto" placeholder="TEXTO">
    </div>
</div>
<!-- ================== End of Contacto ================== -->