<!-- ================== Main Banner ================== -->
<div id="mainbanner" class="flickerplate not-extended" data-block-text="false">
    <ul>
        <li data-background="project/img/mainbanner/2.png">
            <div class="flick-title">EDIFICIOS</div>
            <div class="flick-sub-text" style="font-size: 1.9vw;">
                PLANTAS INDUSTRIALES - CENTROS COMERCIALES - INFRAESTRUCTURA URBANA<br>
                RECINTOS FERIALES, DE EVENTOS Y CONVENCIONES<br>ESTRUCTURAS NO CONVENCIONALES
            </div>
        </li>
        <li data-background="project/img/mainbanner/1.png">
            <div class="flick-title">ESTRUCTURAS</div>
            <div class="flick-sub-text">DINÁMICAS</div>
        </li>
        <li data-background="project/img/mainbanner/2.png">
            <div class="flick-title">ESTRUCTURAS</div>
            <div class="flick-sub-text">METÁLICAS</div>
        </li>
        <li data-background="project/img/mainbanner/3.png">
            <div class="flick-title">ESTRUCTURAS</div>
            <div class="flick-sub-text" style="font-size: 6vw;">NO CONVENCIONALES</div>
        </li>
    </ul>
</div>
<!-- ================== End of Main Banner ================== -->
<!-- ================== Somos DSS ================== -->
<div id="somosdss" class="row not-extended">
    <div class="span-12 span-large-12">
        <h2>SOMOS DSS</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
            eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
            vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
            consectetur quam non aliquam. Curabitur auctor leo in mauris venenatis efficitur. Nulla ornare 
            maximus eros congue posuere. Integer in vulputate tortor. Donec in efficitur leo. 
        </p>
    </div>
</div>
<!-- ================== End of Somos DSS ================== -->
<!-- ================== Servicios ================== -->
<div id="servicios" class="not-extended">
    <div class="row">
        <h2>NUESTROS SERVICIOS SON</h2>
        <div class="span-12 span-large-3">
            <img src="project/img/engrane.png"><br>
            <h3>Ingeniería y cálculo estructural para cualquier tipo de estructura metálica</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
            eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
            vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
            consectetur quam non aliquam.
        </div>
        <div class="span-12 span-large-3">
            <img src="project/img/herramienta.png"><br>
            <h3>Suministro de estructura metálica</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
            eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
            vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
            consectetur quam non aliquam.
        </div>
        <div class="span-12 span-large-3">
            <img src="project/img/conexion.png"><br>
            <h3>Habilitado de estructura metálica, todos los tipos de cortes</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
            eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
            vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
            consectetur quam non aliquam.
        </div>
        <div class="span-12 span-large-3">
            <img src="project/img/conexion.png"><br>
            <h3>Rolado de tubo</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
            eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
            vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
            consectetur quam non aliquam.
        </div>
    </div>
    <div class="row three-col">
        <div class="span-12 span-large-4">
            <img src="project/img/engrane.png"><br>
            <h3>Armado de estructuras</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
            eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
            vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
            consectetur quam non aliquam.
        </div>
        <div class="span-12 span-large-4">
            <img src="project/img/herramienta.png"><br>
            <h3>Montaje de estructuras</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
            eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
            vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
            consectetur quam non aliquam.
        </div>
        <div class="span-12 span-large-4">
            <img src="project/img/conexion.png"><br>
            <h3>Protección anticorrosiva y antifuego</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
            eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
            vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
            consectetur quam non aliquam.
        </div>
    </div>
</div>
<!-- ================== End of Servicios ================== -->
<!-- ================== Clientes ================== -->
<div id="clientes" class="row not-extended">
    <div class="span-12 span-large-12"><h2>ES UN PLACER HABER TRABAJADO CON USTEDES</h2></div>

    <div class="client-logo span-6 span-large-3">Grupo Danhos</div>
    <div class="client-logo1 span-6 span-large-3">Gobierno del estado de Durango</div>
    <div class="client-logo span-6 span-large-3">Club de fútbol Puebla</div>
    <div class="client-logo1 span-6 span-large-3">Gobierno del estado de Zacatecas</div>

    <div class="client-logo1 span-6 span-large-3">Plaza Ciudadela</div>
    <div class="client-logo span-6 span-large-3">Cancún International airport</div>
    <div class="client-logo1 span-6 span-large-3">Feria de San Marcos</div>
    <div class="client-logo span-6 span-large-3">Altea desarrollos</div>
</div>
<!-- ================== End of Clientes ================== -->
<!-- ================== Portafolio ================== -->
<div id="portfolio" class="flickerplate not-extended" data-block-text="fasle">
    <h3>PORTAFOLIO</h3>
    <ul>
        <li>
            <div id="proj1" class="firstp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="javascript:showView(null, '#project1-info', '#slider-p1')"></a></div>
                <div class="label">El Toreo</div>
            </div>
            <div id="proj2" class="secondp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="javascript:showView(null, '#project2-info', '#slider-p2')"></a></div>
                <div class="label">Feria Gómez Palacio</div>
            </div>
        </li>
        <li>
            <div id="proj3" class="firstp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="javascript:showView(null, '#project3-info', '#slider-p3')"></a></div>
                <div class="label">Estadio Cuauhtémoc</div>
            </div>
            <div id="proj4" class="secondp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="javascript:showView(null, '#project4-info', '#slider-p4')"></a></div>
                <div class="label">La Fé</div>
            </div>
        </li>
        <li>
            <div id="proj5" class="firstp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="javascript:showView(null, '#project5-info', '#slider-p5')"></a></div>
                <div class="label">Museo Rafael Coronel</div>
            </div>
            <div id="proj6" class="secondp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="javascript:showView(null, '#project6-info', '#slider-p6')"></a></div>
                <div class="label">Ciudadela</div>
            </div>
        </li>
        <li>
            <div id="proj7" class="firstp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="javascript:showView(null, '#project7-info', '#slider-p7')"></a></div>
                <div class="label">Centro Sur</div>
            </div>
            <div id="proj8" class="secondp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="javascript:showView(null, '#project8-info', '#slider-p8')"></a></div>
                <div class="label">Canchas Durango</div>
            </div>
        </li>
        <li>
            <div id="proj9" class="firstp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="javascript:showView(null, '#project9-info', '#slider-p9')"></a></div>
                <div class="label">Aeropuerto Cancún</div>
            </div>
            <div id="proj10" class="secondp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="javascript:showView(null, '#project10-info', '#slider-p10')"></a></div>
                <div class="label">Caballerizas Aguascalientes</div>
            </div>
        </li>
    </ul>
</div>
<!-- ================== End of Portafolio ================== -->
<!-- ================== Video ================== -->
<div id="video-container" class="row not-extended ">
    <video width="100%" height="auto" controls>
        <source src="#" type="video/mp4">
        <source src="#" type="video/webm">
        Your browser does not support the video tag.
    </video>
</div>
<!-- ================== End of Video ================== -->
<!-- ================== Maps ================== -->
<div class="not-extended">
    <div id="googleMap"></div>
</div>
<!-- ================== End of Maps ================== -->
<!-- ================== Contacto ================== -->
<div id="contacto" class="row not-extended">
    <div id="contact-info" class="span-12 span-large-5">
        <h2>CONTACTO</h2>
        <p class="address">
            Calle Azalea 1750<br>
            Col. Mariano Otero<br>
            C.P. 45067 Zapopan, Jalisco, MX<br>
        </p>
        <p class="phones">
            +52 (33) 1984 5482<br>
            +52 (33) 1984 5483<br>
        </p>
    </div>
    <div id="contact-form" class="formplate span-12 span-large-7">
        <input type="text" id="text-nombre" placeholder="NOMBRE COMPLETO">
        <input type="email" id="text-email" placeholder="E-MAIL">
        <input type="text" id="text-texto" placeholder="TEXTO">
    </div>
</div>
<!-- ================== End of Contacto ================== -->