<div class="not-extended main-image main-image-proj">
	<h1>PROYECTOS</h1>
</div>
<!-- ================== Portafolio ================== -->
<div id="portfolio" class="flickerplate not-extended" data-block-text="fasle">
    <ul>
        <li>
            <div id="proj1" class="firstp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="javascript:showView(null, '#project1-info', '#slider-p1')"></a></div>
                <div class="label">El Toreo</div>
            </div>
            <div id="proj2" class="secondp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="javascript:showView(null, '#project2-info', '#slider-p2')"></a></div>
                <div class="label">Feria Gómez Palacio</div>
            </div>
        </li>
        <li>
            <div id="proj3" class="firstp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="javascript:showView(null, '#project3-info', '#slider-p3')"></a></div>
                <div class="label">Estadio Cuauhtémoc</div>
            </div>
            <div id="proj4" class="secondp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="javascript:showView(null, '#project4-info', '#slider-p4')"></a></div>
                <div class="label">La Fé</div>
            </div>
        </li>
        <li>
            <div id="proj5" class="firstp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="javascript:showView(null, '#project5-info', '#slider-p5')"></a></div>
                <div class="label">Museo Rafael Coronel</div>
            </div>
            <div id="proj6" class="secondp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="javascript:showView(null, '#project6-info', '#slider-p6')"></a></div>
                <div class="label">Ciudadela</div>
            </div>
        </li>
        <li>
            <div id="proj7" class="firstp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="javascript:showView(null, '#project7-info', '#slider-p7')"></a></div>
                <div class="label">Centro Sur</div>
            </div>
            <div id="proj8" class="secondp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="javascript:showView(null, '#project8-info', '#slider-p8')"></a></div>
                <div class="label">Canchas Durango</div>
            </div>
        </li>
        <li>
            <div id="proj9" class="firstp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="javascript:showView(null, '#project9-info', '#slider-p9')"></a></div>
                <div class="label">Aeropuerto Cancún</div>
            </div>
            <div id="proj10" class="secondp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="javascript:showView(null, '#project10-info', '#slider-p10')"></a></div>
                <div class="label">Caballerizas Aguascalientes</div>
            </div>
        </li>
    </ul>
</div>
<!-- ================== End of Portafolio ================== -->
<!-- ================== Clientes ================== -->
<div id="clientes" class="not-extended">
    <div class="span-12 span-large-12"><h2>ES UN PLACER HABER TRABAJADO CON USTEDES</h2></div>
    <div class="row">
        <div class="client-logo span-6 span-large-3"><img src="project/img/clients/danhos.png"></div>
        <div class="client-logo span-6 span-large-3"><img src="project/img/clients/durango.png"></div>
        <div class="client-logo span-6 span-large-3"><img src="project/img/clients/pueblafc.png"></div>
        <div class="client-logo span-6 span-large-3"><img src="project/img/clients/zacatecas.png"></div>
    </div>
    <div class="row">
        <div class="client-logo span-6 span-large-3">Plaza Ciudadela</div>
        <div class="client-logo span-6 span-large-3">Cancún International airport</div>
        <div class="client-logo span-6 span-large-3"><img src="project/img/clients/sanmarcos.png"></div>
        <div class="client-logo span-6 span-large-3"><img src="project/img/clients/altea.png"></div>
    </div>
</div>
<!-- ================== End of Clientes ================== -->
<!-- ================== Video ================== -->
<div id="video-container" class="row not-extended ">
    <video width="100%" height="auto" controls>
        <source src="#" type="video/mp4">
        <source src="#" type="video/webm">
        Your browser does not support the video tag.
    </video>
</div>
<!-- ================== End of Video ================== -->


