<div id="portfolio-content">
	<div class="not-extended main-image main-image-proj">
		<h1>PORTAFOLIO</h1>
	</div>

	<div class="row not-extended">
		<div class="span-12 span-large-6">
			<div class="block-proj">
				<div class="img-proj">
					<img src="project/img/portfolio/1.png">
					<div class="zoomer"><a class="fa fa-search-plus fa-4x" href="#"></a></div>
				</div>
		        <div class="description">
		        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
		            eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
		            vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
		            consectetur quam non aliquam.
		        </div>
		    </div>
		</div>

		<div class="span-12 span-large-6">
			<div class="block-proj block-proj-right">
				<div class="img-proj">
					<img src="project/img/portfolio/2.png">
					<div class="zoomer"><a class="fa fa-search-plus fa-4x" href="#"></a></div>
				</div>
		        <div class="description">
		        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
		            eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
		            vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
		            consectetur quam non aliquam.
		        </div>
		    </div>
		</div>
	</div>

	<div class="row not-extended">
		<div class="span-12 span-large-6">
			<div class="block-proj">
				<div class="img-proj">
					<img src="project/img/portfolio/3.png">
					<div class="zoomer"><a class="fa fa-search-plus fa-4x" href="#"></a></div>
				</div>
		        <div class="description">
		        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
		            eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
		            vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
		            consectetur quam non aliquam.
		        </div>
		    </div>
		</div>

		<div class="span-12 span-large-6">
			<div class="block-proj block-proj-right">
				<div class="img-proj">
					<img src="project/img/portfolio/4.png">
					<div class="zoomer"><a class="fa fa-search-plus fa-4x" href="#"></a></div>
				</div>
		        <div class="description">
		        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
		            eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
		            vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
		            consectetur quam non aliquam.
		        </div>
		    </div>
		</div>
	</div>
</div>