/*
Author: Ivan Tovar (Webmaster at S+E)
e-mail: ivxn2309@hotmail.com
  Date: Jan 19, 2016

DSS Colors
Green: #94BB4D;
Gray:  #9A9798;
*/

#mainbanner {
	height: 650px;
}

#mainbanner .flick-content {
	max-width: 100%;
	margin-right: 1%;
	margin-left: 1%;
}

#mainbanner .flick-title {
	font-family: FuturaB;
	font-weight: 800;
	color: #fff;
	opacity: 0.8;
	margin-bottom: 7.5vw !important;
}

#mainbanner .flick-sub-text {
	font-family: FuturaB;
	font-weight: 100;
	color: #fff;
	opacity: 0.8;
}

#mainbanner ul.flicks>li .flick-inner {
	height: 650px;
	padding: 10px;
	color: #fff;
	display:table-cell;
	vertical-align:middle;
}

#mainbanner ul.flicks>li .flick-title{
	padding: 0px;
	letter-spacing: 3vw;
	padding-left: 10px;
	text-align: center;
	font-size: 6vw;
}

#mainbanner ul.flicks>li .flick-sub-text{
	padding: 0px;
	text-align: center;
	font-size: 13vw;
}

@media only screen and (min-width: 30em){ /* 480px */
	#mainbanner ul.flicks>li .flick-title{
		padding-left: 20px;
	}
}

@media only screen and (min-width: 50em){ /* 800px */
	#mainbanner {
		margin-right: 5.88%;
	}

	#mainbanner ul.flicks>li .flick-title{
		padding-left: 36px;
	}
}

@media only screen and (min-width: 70em){ /* 1120px */
	#mainbanner ul.flicks>li .flick-title{
		padding-left: 28px;
	}
}