/*
Author: Ivan Tovar (Webmaster at S+E)
e-mail: ivxn2309@hotmail.com
  Date: Jan 19, 2016

DSS Colors
Green: #94BB4D; (148,187,77)
Gray:  #9A9798; (154, 151, 152)
*/

@font-face {
    font-family: FuturaN;
    src: url(../font/futuran.woff);
    font-weight: normal;
}

@font-face {
    font-family: FuturaB;
    src: url(../font/futurab.woff);
    font-weight: normal;
}

@font-face {
    font-family: CenturyN;
    src: url(../font/centuryn.woff);
    font-weight: normal;
}

@font-face {
    font-family: CenturyB;
    src: url(../font/centuryb.woff);
    font-weight: normal;
}

@font-face {
    font-family: MagallanesB;
    src: url(../font/magallanesb.woff);
    font-weight: normal;
}

/* Restrict user selection on all site and sets Century Gothic as default font */
body {
    font-family: CenturyN;
    cursor: default !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#fixed-top {
    position: fixed;
    height: 70px;
    width: 90%;
    top: -35px;
    padding-top: 28px;
    padding-right: 20px;
    z-index: 1000;

    background-color: #fff;
}

#maincontent {
    margin-top: 69px;
}

.back-gray {
    background-color: #9a9798;
}

.main-image {
    height: 550px;
    background-size: cover;
}

.not-extended {
    width: auto;
    margin-top: 0px;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-left: 0%;
}

.centered {
    text-align: center;
}

.white {
    color: #fff;
}

.page-top {
	margin-top: 2.5%;
}

.page-bottom {
	margin-bottom: 2.5%;
}

.logo {
	display: block;
}

#somosdss {
    padding: 3% 15%;
    text-align: justify;
    background-color: #9a9798;
}

#servicios {
    background-image: url(../img/back-services.png);
    background-size: cover;
}

#somosdss h2, #servicios h2 {
    padding-top: 3%;
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
    margin-bottom: 5%;
    font-family: CenturyB;
}

#somosdss p {
    font-size: 0.6rem;
    color: #fff;
}

#servicios div {
    padding: 2% 9%;
    padding-bottom: 10.5%;
    text-align: justify;
    font-size: 0.5rem;
    color: #fff;
    text-transform: uppercase;
}

#servicios img {
    margin: 0 auto;
    display: block;
    width: 70px;
}

#clientes h2 {
    margin: auto;
    padding: 0.7%;
    font-size: 1.2rem;
    color: #9a9798;
    text-align: center;
    font-family: CenturyB;
}

#clientes .client-logo {
    background-color: #9a9798;
    color: #555253;
    text-align: center;
    padding: 10% 0%;
}

#clientes .client-logo1 {
    color: #9a9798;
    background-color: #555253;
    text-align: center;
    padding: 10% 0%;
    font-weight: bold;
}

#video-container {
    background-color: #000;
    height: auto;
    text-align: center;
}

footer {
    height: auto;
    background-color: #999;
    color: #fff;
    padding: 16px 16px 7px 16px;
    text-align: center;

    position: fixed;
    bottom: 0px;
    max-width: 100%;
    width: 100% !important;
    z-index: 1000 !important;
}

/* IE 6 */
* html footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

footer img {
    height: 25px;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: #999;
    float: none;
    margin: 0 auto; 
    display: inline-block;

    background-color: #fff;
    border-radius: 36px;

    width: 35px;
    height: 35px;
    padding-top: 10px;

    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
     transition: all 2s ease;
}

footer a:hover {
    text-decoration: none;
    background-color: #555;
    color: #fff;
}

footer a:after {
    content: none;
}

.flickerplate .arrow-navigation {
    font-family: FontAwesome !important;
}

#mainbanner {
    margin-right: 0%;
}

/* Page Loader Animation */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/loader.gif) center no-repeat #fff;
}
/* ===================== */

@media only screen and (min-width: 30em){ /* 480px */
    #mainbanner {
        margin-right: 0%;
    }

    #somosdss {
        padding: 3% 25%;
    }

    #somosdss h2 {
        font-size: 2rem;
        margin-bottom: 4%;
    }

    #somosdss p {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 35em){ /* 560px */
    .not-extended {
        margin-right: 5.85%;
        margin-left: 5.85%;
    }

    #mainbanner {
        margin-right: 5.85%;
    }

    #social-icons {
        text-align: center;
    }

    footer {
        text-align: left;
        position: fixed;
        bottom: 0px;
        max-width: 88.3%;
    }

    footer img {
        height: 35px;
        margin: auto 0;
        margin-bottom: 0px;
    }

    footer a {
        float: right;
        margin-right: 5px;
        margin-left: 5px;
    }

}

