/*
Author: Ivan Tovar (Webmaster at S+E)
e-mail: ivxn2309@hotmail.com
  Date: Jan 19, 2016

DSS Colors
Green: #94bb4d; (148,187,77)
Gray:  #9a9798; (154, 151, 152)
*/

/* ======================== Main Slideshot =============================== */
.flickerplate {
	width: auto !important;
}

.flickerplate .arrow-navigation {
    font-family: FontAwesome !important;
}

#mainbanner {
	height: 650px;
	margin-right: 0%;
}

#mainbanner .flick-content {
	max-width: 100%;
	margin-right: 1%;
	margin-left: 1%;
}

#mainbanner .flick-title {
	font-family: FuturaB;
	font-weight: 800;
	color: #fff;
	opacity: 0.7;
	margin-bottom: 7.5vw !important;
}

#mainbanner .flick-sub-text {
	font-family: FuturaB;
	font-weight: 100;
	color: #fff;
	opacity: 0.7;
}

#mainbanner ul.flicks {
	width: 10100% !important;
}

#mainbanner ul.flicks>li .flick-inner {
	height: 650px;
	padding: 10px;
	color: #fff;
	display:table-cell;
	vertical-align:middle;
}

#mainbanner ul.flicks>li .flick-title{
	padding: 0px;
	letter-spacing: 3vw;
	padding-left: 10px;
	text-align: center;
	font-size: 7.4vw;
}

#mainbanner ul.flicks>li .flick-sub-text{
	padding: 0px;
	text-align: center;
	font-size: 16vw;
}

#mainbanner .many-text {
	font-size: 5.2vw !important;
	line-height: 7vw;
}

#mainbanner .first-slide {
	
}

#mainbanner .first-slide .flick-content {
	margin-left: 30%;
}

#mainbanner .first-slide .flick-title {
	opacity: 1;
	font-size: 6.5vw !important;
	letter-spacing: 1vw !important;
	margin-top: -30vh;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
	line-height: 3rem !important;
}

#mainbanner .first-slide .flick-title p {
	font-size: 6.5vw;
	color: #fff;
	letter-spacing: 2vw;
	margin-bottom: 0px;
	margin-left: 0px !important;
}

#mainbanner .first-slide .flick-sub-text {
	font-size: 12px  !important;
	line-height: 20px;
	font-weight: 400;
	letter-spacing: 1px;
	opacity: 1;
}

#mainbanner .first-slide a {
	padding: 10px 40px 15px;
	color: #fff;
	font-family: FuturaN;
	font-size: 17px;
	font-weight: lighter;
	font-variant: small-caps;
	text-decoration: none;
	border: solid 1.5px #fff;

	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
     transition: all 1s ease;
}

#mainbanner .first-slide a:hover {
	background-color: rgba(0,0,0,0.7); 
	text-decoration: none;
}
/* ======================================================================= */
/* =========================== Somos DSS ================================= */
#somosdss {
    padding: 3% 15%;
    text-align: justify;
    background-color: #9a9798;
}

#somosdss h2 {
    padding-top: 3%;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    margin-bottom: 5%;
    font-family: CenturyB;
}

#somosdss p {
    font-size: 0.9rem;
    color: #fff;
}
/* ======================================================================= */
