/*
Author: Ivan Tovar (Webmaster at S+E)
e-mail: ivxn2309@hotmail.com
  Date: Feb 26, 2016

DSS Colors
Green: #94bb4d; (148,187,77)
Gray:  #9a9798; (154, 151, 152)
*/

@media only screen and (min-width: 30em){ /* 480px */
	/* ======================== Main Slideshot =============================== */
    #mainbanner {
        margin-right: 0%;
    }

	#mainbanner ul.flicks>li .flick-title {
		padding-left: 20px;
		font-size: 6vw;
	}

	#mainbanner ul.flicks>li .flick-sub-text {
		font-size: 13vw;
	}

	#mainbanner .many-text {
		font-size: 1.9vw !important;
		line-height: 6vh;
	}

	#mainbanner .first-slide .flick-content {
		margin-left: 42%;
	}

	#mainbanner .first-slide .flick-title {
		margin-bottom: 0px !important;
		margin-top: 0px;
		line-height: 5vw !important;
		font-size: 4.5vw !important;
	}

	#mainbanner .first-slide .flick-title p {
		font-size: 4.5vw;
	}

	#mainbanner .first-slide .flick-title p {
		margin-bottom: 0px;
	}

	#mainbanner .first-slide .flick-sub-text {
		font-size: 1.6vw  !important;
		line-height: 2.5vw;
	}
	/* ======================================================================= */
    /* =========================== Somos DSS ================================= */
    #somosdss {
        padding: 3% 25%;
    }

    #somosdss h2, #servicios h2 {
        font-size: 1.5rem;
        margin-bottom: 4%;
    }

    #somosdss p {
        font-size: 1.0rem;
    }
    /* ======================================================================= */
}

@media only screen and (min-width: 35em){ /* 560px */
	/* ======================== Main Slideshot =============================== */
	#mainbanner {
        margin-right: 5.85%;
    }
    /* ======================================================================= */
}

@media only screen and (min-width: 50em){ /* 800px */
	/* ======================== Main Slideshot =============================== */
	#mainbanner {
		margin-right: 5.88%;
	}

	#mainbanner ul.flicks>li .flick-title{
		padding-left: 36px;
	}

	#mainbanner .first-slide .flick-title {
		margin-bottom: 40px !important;
	}

	#mainbanner .first-slide .flick-title p {
		margin-bottom: 10px;
	}

	#mainbanner .first-slide .flick-sub-text {
		font-size: 1.5vw  !important;
	}
	/* ======================================================================= */
}

@media only screen and (min-width: 70em){ /* 1120px */
	/* ======================== Main Slideshot =============================== */
	#mainbanner ul.flicks>li .flick-title{
		padding-left: 28px;
	}
	/* ======================================================================= */
}