/*
Author: Ivan Tovar (Webmaster at S+E)
e-mail: ivxn2309@hotmail.com
  Date: Feb 26, 2016

DSS Colors
Green: #94bb4d; (148,187,77)
Gray:  #9a9798; (154, 151, 152)
*/

@media only screen and (min-width: 43.87em){ /* 702px */
	/* =========================== Lo nuestro ================================ */
	#lo-nuestro div p {
		padding-right: 17%;
		padding-left: 0%;
	}

	#lo-nuestro ul {
		padding-right: 0%;
		padding-left: 0%;
	}

	#lo-nuestro div img {
		width: 85%;
		float: right;
	}
	/* ======================================================================= */
	/* ============================= Metrics ================================= */
	#metrics div {
		margin-bottom: 0;
		margin-top: 0%;
	}
	/* ======================================================================= */
}

@media only screen and (min-width: 57em){ /* 912px */
	/* =========================== Servicios ================================= */
    #servicios .col {
		width: 25% !important;
	}

	 #servicios .col2 {
		width: 33.33% !important;
	}
	/* ======================================================================= */
}

@media only screen and (min-width: 120em){ /* 1920px */
	/* ============================ Main Image =============================== */
	.main-image-dss h1 {
		font-size: 580px;
	}
	/* ======================================================================= */
	/* ============================= Metrics ================================= */
	#metrics div h1 {
		font-size: 120px;
	}

	#metrics div {
		font-size: 37px;
	}
	/* ======================================================================= */
}