/*
Author: Ivan Tovar (Webmaster at S+E)
e-mail: ivxn2309@hotmail.com
  Date: Feb 26, 2016

DSS Colors
Green: #94bb4d; (148,187,77)
Gray:  #9a9798; (154, 151, 152)
*/

/* ============================ Main Image =============================== */
.main-image-dss {
    background-image: url(../img/dss/back-dss.png);
}

.main-image-dss h1 {
	font-family: MagallanesB;
	color: rgba(255,255,255,0.6);
	text-align: center;
	line-height: 550px;
	font-size: 30vw;
	padding-top: 1.4%;
}
/* ======================================================================= */
/* =========================== Lo nuestro ================================ */
#lo-nuestro {
	background-color: #fff;
	font-family: CenturyB;
	margin-bottom: 0px;
}

#lo-nuestro h3 {
	text-align: center;
	font-size: 1.2rem;
	color: #9a9798;
	padding-top: 20px;
}

#lo-nuestro div p, #lo-nuestro ul {
	text-align: justify;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 0.85rem;
	color: #9a9798;
}

#lo-nuestro ul {
	list-style: none;
}

#lo-nuestro ul li:before {
	font-family: FontAwesome;
	color: #9a9798;
	content: "\f00c";
	font-size: 1.3rem;
	padding-right: 10px;
}

#lo-nuestro ul li {
	color: #9a9798;
	font-size: 0.85rem;
}

#lo-nuestro div img {
	width: 100%;
	float: none;
}
/* ======================================================================= */
/* =========================== Servicios ================================= */
#servicios {
	background-color: #fff;
    background-size: cover;
}

#servicios h2 {
	color: #9a9798;
	font-size: 1.2rem;
	padding-top: 3%;
    text-align: center;
    margin-bottom: 5%;
    font-family: CenturyB;
}

#servicios h3 {
    color: #9a9798;
    font-size: 1.0rem;
    line-height: 1.7rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#servicios div {
    padding: 2% 4%;
    text-align: justify;
    font-size: 0.7rem;
    color: #9a9798;
}

#servicios .col {
	width: 100% !important;
}

#servicios .col2 {
	width: 100% !important;
}

#servicios .three-col div {
	padding: 2% 8%;
}

#servicios img {
    margin: 0 auto;
    display: block;
    width: 70px;
}
/* ======================================================================= */
/* ============================= Metrics ================================= */
#metrics {
	background-image: url(../img/dss/metrics.png);
	background-size: cover;
	background-attachment: fixed;
	height: 500px;
}

#metrics div {
	color: #fff;
	text-align: center;
	font-size: 2vw;
	font-family: CenturyB;
	font-weight: bold;
	padding-top: 190px;
	margin-top: -12%;
	margin-bottom: -15%
}

#metrics div h1{
	font-size: 6vw;
	color: #fff;
	margin-bottom: 3%;
}
/* ======================================================================= */
