/*
Author: Ivan Tovar (Webmaster at S+E)
e-mail: ivxn2309@hotmail.com
  Date: Jan 19, 2016

DSS Colors
Green: #94BB4D;
Gray:  #9A9798;
*/

.navigation {
    width: 100%;
    display: none;
    font-family: CenturyB;
    font-size: 0.5rem;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
}

.navigation li {
    display: inline-block;

}

.navigation li a {
    color: #9a9798;
    padding: 5px 12.5px 5px 12.5px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-color: #fff;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
     transition: all 1s ease;
}

.navigation li a:hover, .navigation li .now {
    color: #94bb4d;
    border-top-color: #94bb4d;
    border-top-width: medium; 
    border-top-style: solid
}

.navigation li #search-text {
    height: 40px;
    margin-bottom: 0px;

    border-radius: 20px;
    border-style: solid;
    border-width: 3px;

    border-color: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
     transition: all 1s ease;
}

.navigation li #search-text:focus {
    border-color: #94bb4d !important;
    -webkit-box-shadow: inherit !important;
    -moz-box-shadow: inherit !important;
    box-shadow: inherit !important;
}

.navigation #search-area {
    margin-right: -4%;
    width: 0px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
     transition: all 1s ease;
}

#nav-trigger {
    float: right;
}

#nav-trigger {
    color: #94bb4d;
    margin-right: 2%;
    margin-bottom: 2%;
}

.logo {
    margin-left: 7%;

}

@media only screen and (min-width: 35em) {
    #nav-trigger {
        margin-right: 0%;
        margin-bottom: 0%;
    }

    .logo {
        margin-left: 0%;
    }
}

@media only screen and (min-width: 59em) { /* 720px */
    .navigation {
        display: inline-block;
        font-size: 0.8rem;
    }

    .logo {
        padding: 3px 0px;
        margin: auto 0;
    }

    #nav-trigger {
        display: none;
    }

    .navigation #search-area {
        margin-right: -3%;
    }
}

@media only screen and (min-width: 62em) {/* 992 */
    .navigation {
        display: inline-block;
        font-size: 0.9rem;
    }

    .navigation #search-area {
        margin-right: -0.5%;
    }
}