/*
Author: Ivan Tovar (Webmaster at S+E)
e-mail: ivxn2309@hotmail.com
  Date: Feb 05, 2016

DSS Colors
Green: #94bb4d; (148,187,77)
Gray:  #9a9798; (154, 151, 152)
*/

@media only screen and (min-width: 35em){ /* 560px */
	/* ============================ Projects ================================= */
	.block-proj .zoomer {
		height: 80.3vw;
		margin-top: -81.5vw;
	}

	.block-proj .zoomer a {
		line-height: 80.3vw;
	}

	.block-proj .description {
		padding: 0;
	}
	/* ======================================================================= */
}

@media only screen and (min-width: 43.813em){ /* 701px */
	/* ============================ Main Img ================================= */
	.block-proj {
		width: 95%;
		margin-top: 7%;
	}

	.block-proj-right {
		margin-left: 5%;
	}
	/* ======================================================================= */
	/* ============================ Projects ================================= */
	.block-proj .zoomer {
		height: 39vw;
		margin-top: -39.2vw;
	}

	.block-proj .zoomer a {
		line-height: 39vw;
	}
	/* ======================================================================= */
}

@media only screen and (min-width: 120em){ /* 1920px */
	/* ============================ Main Img ================================= */
	.main-image-proj h1 {
		font-size: 260px;
	}
	/* ======================================================================= */
}