/*
Author: Ivan Tovar (Webmaster at S+E)
e-mail: ivxn2309@hotmail.com
  Date: Feb 05, 2016

DSS Colors
Green: #94bb4d; (148,187,77)
Gray:  #9a9798; (154, 151, 152)
*/

/* ======================================================================= */
/* Frontpage of projects in portfolio 770x720 in home page */
#proj1, .proj1 {
	background-image: url(../img/portfolio/1.png);
	background-size: cover;
}

#proj2, .proj2 {
	background-image: url(../img/portfolio/2.png);
	background-size: cover;
}

#proj3, .proj3 {
	background-image: url(../img/portfolio/3.png);
	background-size: cover;
}

#proj4, .proj4 {
	background-image: url(../img/portfolio/4.png);
	background-size: cover;
}

#proj5, .proj5 {
	background-image: url(../img/portfolio/5.png);
	background-size: cover;
}

#proj6, .proj6 {
	background-image: url(../img/portfolio/6.png);
	background-size: cover;
}

#proj7, .proj7 {
	background-image: url(../img/portfolio/7.png);
	background-size: cover;
}

#proj8, .proj8 {
	background-image: url(../img/portfolio/8.png);
	background-size: cover;
}

#proj9, .proj9 {
	background-image: url(../img/portfolio/9.png);
	background-size: cover;
}

#proj10, .proj10 {
	background-image: url(../img/portfolio/10.png);
	background-size: cover;
}
/* ======================================================================= */
/* ============================ Main Img ================================= */
.main-image-proj {
    background-image: url(../img/portfolio/back-portfolio.png);
}

.main-image-proj h1 {
	font-family: CenturyB;
	color: rgba(255,255,255,0.6);
	text-align: center;
	line-height: 550px;
	font-size: 14vw;
	padding-top: 1.4%;
}
/* ======================================================================= */
/* =========================== Portfolio ================================= */
#portfolio {
	background-image: url(../img/portfolio/back.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%
}

#portfolio h3 {
	text-align: center;
    font-family: CenturyB;
    color: #fff;
    font-size: 1.0rem;
}

#portfolio .proj {    
    display: inline-block;
    max-height: 300px;
    width: 70%;

    cursor: pointer;
}

#portfolio .proj .zoomer {
	width: 100%;
	height: 300px;
	float: right;
	text-align: center;

	background-color: rgba(0,0,0,0.75);
	opacity: 0;
	-webkit-transition: all 0.7s ease;
	 transition: all 0.7s ease;
}

#portfolio .proj .zoomer:hover {    
	opacity: 1;
}

#portfolio .proj .zoomer a {
	color: rgba(255,255,255,0.4);
	line-height: 300px;
	width: 100%;
}

#portfolio .proj .label {
	width: 100%;
	background-color: #fff;
	color: #94bb4d;
	height: auto;
	text-align: center;
	font-family: CenturyB;
	font-style: italic;
	font-size: 0.5em;
	float: right;
	margin-top: 0%;
	padding-top: 3px;
	padding-bottom: 3px;
}

#portfolio .firstp {
	margin-top: 5%;
	margin-left: 14.5%;
	margin-right: 7.5%;
	margin-bottom: 5%;
}

#portfolio .secondp {
	margin-top: 5%;
	margin-left: 14.5%;
	margin-right: 7.5%;
	margin-bottom: 5%;
}

#portfolio .arrow-navigation:before {
	opacity: 0.9;
	font-size: 2rem !important;
}

#portfolio .arrow-navigation.right {
	background-image: url(../img/arrow.png);
	background-position: center;
	background-size: 40px;
	background-repeat: no-repeat;
}

#portfolio .arrow-navigation.right:before {
	content: "";
}

#portfolio .arrow-navigation.left {
	background-image: url(../img/arrow.png);
	background-position: center;
	background-size: 40px;
	background-repeat: no-repeat;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

#portfolio .arrow-navigation.left:before {
	content: "";
}
/* ======================================================================= */
/* ============================ Clientes ================================= */
#clientes h2 {
    margin: auto;
    padding: 0.7%;
    font-size: 1.2rem;
    color: #9a9798;
    text-align: center;
    font-family: CenturyB;
}

#clientes .client-logo {
    text-align: center;
}

#clientes div img {
	height: 50%;
	width: 50%;
}
/* ======================================================================= */
/* ============================= Video =================================== */
#video-container {
    background-color: #000;
    height: auto;
    text-align: center;
}
/* ======================================================================= */