<div id="slider-p1" class="row not-extended slider">
    <div data-thumb="project/img/portfolio/1/thumbs/tree.jpg" data-src="project/img/portfolio/1/tree.jpg"></div>
    <div data-thumb="project/img/portfolio/1/thumbs/sea.jpg" data-src="project/img/portfolio/1/sea.jpg"></div>
    <div data-thumb="project/img/portfolio/1/thumbs/road.jpg" data-src="project/img/portfolio/1/road.jpg"></div>
    <div data-thumb="project/img/portfolio/1/thumbs/tree.jpg" data-src="project/img/portfolio/1/tree.jpg"></div>
    <div data-thumb="project/img/portfolio/1/thumbs/sea.jpg" data-src="project/img/portfolio/1/sea.jpg"></div>
    <div data-thumb="project/img/portfolio/1/thumbs/road.jpg" data-src="project/img/portfolio/1/road.jpg"></div>
</div>
<div class="row not-extended project-information">
	<div class="title-project">Título del proyecto</div>
	<div class="description">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
        eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
        vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
        consectetur quam non aliquam. Curabitur auctor leo in mauris venenatis efficitur. Nulla ornare 
        maximus eros congue posuere. Integer in vulputate tortor. Donec in efficitur leo. </p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
        eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
        vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
        consectetur quam non aliquam. Curabitur auctor leo in mauris venenatis efficitur. Nulla ornare 
        maximus eros congue posuere. Integer in vulputate tortor. Donec in efficitur leo. </p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales malesuada tortor, 
        eget ultricies justo congue sed. Nunc non eleifend ligula. Pellentesque a lorem nec ex auctor 
        vehicula. Maecenas ipsum ipsum, feugiat sit amet nulla non, auctor pulvinar eros. Ut vulputate 
        consectetur quam non aliquam. Curabitur auctor leo in mauris venenatis efficitur. Nulla ornare 
        maximus eros congue posuere. Integer in vulputate tortor. Donec in efficitur leo. </p>
	</div>
</div>