<div id="portfolio" class="flickerplate not-extended" data-block-text="fasle">
    <h3>PORTAFOLIO</h3>
    <ul>
        <li>
            <div id="proj1" class="firstp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="#"></a></div>
                <div class="label">
                    Canchas de recreación deportiva / DURANGO
                </div>
            </div>
            <div id="proj2" class="secondp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="#"></a></div>
                <div class="label">
                    Estadio Cuauhtémoc / PUEBLA
                </div>
            </div>
        </li>
        <li>
            <div id="proj3" class="firstp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="#"></a></div>
                <div class="label">
                    Canchas de recreación deportiva / DURANGO
                </div>
            </div>
            <div id="proj4" class="secondp proj span-12 span-large-6">
                <div class="zoomer"><a class="fa fa-search-plus fa-4x" href="#"></a></div>
                <div class="label">
                    Estadio Cuauhtémoc / PUEBLA
                </div>
            </div>
        </li>
    </ul>
</div>